# Server Exclusions

server/node_modules/*
server/log/*
server/public/*
server/data

server/config/local.env.js

# Client Exclusions

client/node_modules/*
client/bower_components/*
client/.tmp/*
client/build/*

client/app/scripts/config.js

# ELK

ELK/*
!ELK/logstash
!ELK/kibana

ELK/logstash/*
!ELK/logstash/config
ELK/logstash/config/dev*

ELK/kibana/*
!ELK/kibana/dashboards