# Server Exclusions

server/node_modules/*
server/log/*
server/public/*

# Client Exclusions

client/node_modules/*
client/bower_components/*
client/.tmp/*
client/build/*

# ELK

ELK/*
!ELK/logstash
!ELK/kibana

ELK/logstash/*
!ELK/logstash/config
ELK/logstash/config/dev*

ELK/kibana/*
!ELK/kibana/dashboards