<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>TunariApp</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<!-- build:css styles/app.min.css -->
      
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/angular-carousel/dist/angular-carousel.css" />
    <link rel="stylesheet" href="bower_components/nya-bootstrap-select/dist/css/nya-bs-select.css" />
    <link rel="stylesheet" href="bower_components/angular-notify/dist/angular-notify.css" />
    <!-- endbower -->
    
    <link rel="stylesheet" href="styles/sandstone.css">
    <link rel="stylesheet" href="styles/scrollable-table.css" />

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/productsearch.css">
    <link rel="stylesheet" href="styles/sellingItem.css">
    <link rel="stylesheet" href="styles/shoppingcart.css">
    <link rel="stylesheet" href="styles/typeahead.css">      
    <link rel="stylesheet" href="styles/clientsearch.css">
    <link rel="stylesheet" href="styles/clientsamples.css">
    <link rel="stylesheet" href="styles/newclient.css">
    <link rel="stylesheet" href="styles/statistics.css">
    <link rel="stylesheet" href="styles/sellingsCharts.css">
    <!-- /build -->
  </head>
  <body ng-app="tunariApp">
    <!--[if lte IE 8]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <!-- Add your site or application content here -->
    <div ng-controller="NavBarCtrl"  class="header">
      <div class="navbar navbar-default" role="navigation">
        <div class="container">
          <div class="navbar-header">

            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="#/">TunariApp</a>
          </div>

          <div class="collapse navbar-collapse" id="js-navbar-collapse">

            <ul class="nav navbar-nav">
<!--
              <li class="active"><a href="#/">Home</a></li>
              <li><a ng-href="#/about">About</a></li>
              <li><a ng-href="#/productSearch">Buscar</a></li>
              <li><a ng-href="#/">Contact</a></li>
-->
              <li ng-audio="sounds/click.mp3"  class="">
                <a ng-click="changeView('products')">Productos</a>
              </li> 
              <li ng-audio="sounds/click.mp3"  class="">
                <a ng-click="changeView('clients')">Clientes</a>
              </li>                  
              <li ng-audio="sounds/click.mp3"  class="">
                <a ng-click="changeView('statistics')">Estadisticas</a>
              </li>
            </ul>
          </div>
        </div>
        <div class="submenu">
          <div ng-include="subMenu"></div>
        </div>
      </div>            
    </div>

    <div class="container">
        <div class="reveal-animation" ng-view=""></div>
<!--        <div ng-view=""></div>-->
    </div>

    <div class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-registration-mark"></span> El equipo de TervarSoft</p>
      </div>
    </div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       !function(A,n,g,u,l,a,r){A.GoogleAnalyticsObject=l,A[l]=A[l]||function(){
       (A[l].q=A[l].q||[]).push(arguments)},A[l].l=+new Date,a=n.createElement(g),
       r=n.getElementsByTagName(g)[0],a.src=u,r.parentNode.insertBefore(a,r)
       }(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

    <!-- build:js lib/dependencies.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/restangular/dist/restangular.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
    <script src="bower_components/angular-carousel/dist/angular-carousel.js"></script>
    <script src="bower_components/nya-bootstrap-select/dist/js/nya-bs-select.js"></script>
    <script src="bower_components/typeahead.js/dist/typeahead.bundle.js"></script>
    <script src="bower_components/angular-typeahead/angular-typeahead.js"></script>
    <script src="bower_components/angular-audio/app/angular.audio.js"></script>
    <script src="bower_components/angular-utils-pagination/dirPagination.js"></script>
    <script src="bower_components/angular-notify/dist/angular-notify.js"></script>
    <script src="bower_components/d3/d3.js"></script>
    <script src="bower_components/d3-tip/index.js"></script>
    <script src="bower_components/moment/moment.js"></script>
    <!-- endbower -->
    <!--customDependencies-->
    <script src="custom_dependencies/angular-bootstrap/ui-bootstrap-custom-tpls-0.14.3.js"></script>
    <script src="custom_dependencies/angular-scrollable-table/angular-scrollable-table.js"></script>
    <script src="custom_dependencies/angular-scrollable-table/angular-locale_es-419.js"></script>
    <!--customDependencies-->
    <!-- /build -->


        <!-- build:js scripts/app.min.js -->
        <script src="scripts/app.js"></script>
        <script src="scripts/config.js"></script>
        <script src="scripts/controllers/main.js"></script>
        <script src="scripts/controllers/navBar.js"></script>
        <script src="scripts/controllers/about.js"></script>
        <script src="scripts/services/products.js"></script>
        <script src="scripts/controllers/productSearcher.js"></script>
        <script src="scripts/services/serverdata.js"></script>
        <script src="scripts/controllers/editProduct.js"></script>
        <script src="scripts/controllers/newProduct.js"></script>
        <script src="scripts/controllers/invitationDetails.js"></script>
        <script src="scripts/controllers/addingProduct.js"></script>
        <script src="scripts/controllers/samplebook.js"></script>
        <script src="scripts/controllers/sellingItem.js"></script>
        <script src="scripts/controllers/statistics.js"></script>
        <script src="scripts/controllers/invitationsQuantityCharts.js"></script>
        <script src="scripts/controllers/statisticsOptions.js"></script>
        <script src="scripts/controllers/sellingsCharts.js"></script>
        <script src="scripts/services/sellings.js"></script>
        <script src="scripts/services/clients.js"></script>     
        <script src="scripts/controllers/questionModal.js"></script>   
        <script src="scripts/services/messages.js"></script>
        <script src="scripts/services/notifier.js"></script>
        <script src="scripts/services/searchInfo.js"></script>
        <script src="scripts/directives/sellingquantity.js"></script>
        <script src="scripts/directives/tagsproduct.js"></script>
        <script src="scripts/directives/shoppingcart.js"></script>
        <script src="scripts/directives/typeahead.js"></script>
        <script src="scripts/directives/prodQuantityChart.js"></script>
        <script src="scripts/directives/sellingsDatepicker.js"></script>
        <script src="scripts/directives/sellingsbarchart.js"></script>
        <script src="scripts/controllers/clientSearch.js"></script>
        <script src="scripts/controllers/clientSamples.js"></script>
        <script src="scripts/controllers/newclient.js"></script>
        <script src="scripts/controllers/editclient.js"></script>
        <script src="scripts/directives/productlocation.js"></script>
        <script src="scripts/directives/uppercase.js"></script>
        <script src="scripts/filters/checkedproduct.js"></script>
        <!-- /build -->

</body>
</html>
