
.cardPlusPlus {
  background: #fff;
  padding-top: 20px;
  margin: 10px 0 20px 0;
  background-color: #ffffff;
  border: 1px solid #d8d8d8;
  border-top-width: 0;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}


.cardPlusPlus .cardPlusPlus-heading {
  padding: 0 20px;
  margin: 0;
}

.cardPlusPlus .cardPlusPlus-heading.simple {
  font-size: 20px;
  font-weight: 300;
  color: #777;
  border-bottom: 1px solid #e5e5e5;
}

.cardPlusPlus .cardPlusPlus-heading.image img {
  display: inline-block;
  width: 46px;
  height: 46px;
  margin-right: 15px;
  vertical-align: top;
  border: 0;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

.cardPlusPlus .cardPlus-heading.image .cardPlus-heading-header {
  display: inline-block;
  vertical-align: top;
}

.cardPlus .cardPlus-heading.image .cardPlus-heading-header h3 {
  margin: 0;
  font-size: 14px;
  line-height: 16px;
  color: #262626;
}

.cardPlus .cardPlus-heading.image .cardPlus-heading-header span {
  font-size: 12px;
  color: #999999;
}

.cardPlus .cardPlus-body {
    
  padding: 0 20px;
  margin-top: 20px;
}

.cardPlus .cardPlus-media {
  padding: 0 20px;
  margin: 0 -14px;
}

.cardPlus .cardPlus-media img {
  max-width: 100%;
  max-height: 100%;
}

.cardPlus .cardPlus-actions {
  min-height: 30px;
  padding: 0 20px 20px 20px;
  margin: 20px 0 0 0;
}

.cardPlus.hovercardPlus {
  position: relative;
  width: 240px;
  padding-top: 0;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
}

.cardPlus.hovercardPlus img {
  width: 240px;
  height: 135px;
}

.cardPlus.hovercardPlus .avatar {
  position: relative;
  top: -40px;
  margin-bottom: -40px;
}

.cardPlus.hovercardPlus .avatar img {
  width: 80px;
  height: 80px;
  max-width: 80px;
  max-height: 80px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
}

.cardPlus.hovercardPlus .info {
  padding: 4px 8px 10px;
}

.cardPlus.hovercardPlus .info .title {
  margin-bottom: 4px;
  font-size: 24px;
  line-height: 1;
  color: #262626;
  vertical-align: middle;
}

.cardPlus.hovercardPlus .info .desc {
  overflow: hidden;
  font-size: 12px;
  line-height: 20px;
  color: #737373;
  text-overflow: ellipsis;
}

.cardPlus.hovercardPlus .bottom {
  padding: 0 20px;
  margin-bottom: 17px;
}
