.sample-product {
    border-radius: 10px 10px 10px 10px;
    cursor: pointer;
    border: 4px solid #999;      
    background-color: #ffffff;
}

.checked-sample {
    border: 4px solid green;    
    cursor: pointer;  
    border-radius: 10px 10px 10px 10px;
    background: linear-gradient(to bottom right, #B3C9C0, #709988);
}

.unchecked-sample{
    border: 4px solid #999;      
    cursor: pointer;
    border-radius: 10px 10px 10px 10px;
    filter:alpha(opacity=25);
    background-color: #ffffff;
    opacity:.25;
}

.sample-check {
    position: absolute;
    overflow: hidden;
    width: 40px;
    bottom: 0px;
    right: 0px;
    border-radius: 4px;
}

.color-green {
    color:green;
    font-size: 2.8em;  
}
