.client-card{
    background: -webkit-linear-gradient(bottom left,#CBD4D6 10%, #526166 90%);
    border: 1px solid #999;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; 
    padding: 0px 10px 10px;
    margin: 10px 10px;
    word-wrap: break-word
/*    width: 340px;*/
/*    width:30%;*/
}

.client-card:hover {
/*    width: 340px;*/
/*    width:30%;*/
	cursor: pointer;
	-webkit-transform: scale(1.03, 1.03);
    -ms-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    box-shadow: 5px 5px 5px #2C3133;
    z-index: 1;
}

.masonry-brick.masonry-card{
    width:25%;
}

@media screen and (max-width: 1500px) {

    .masonry-brick.masonry-card { width:33%; }
/*    .client-card:hover {width:45%;}    */
}

@media screen and (max-width: 1000px) {

    .masonry-brick.masonry-card { width:50%; }
/*    .client-card:hover {width:45%;}    */
}


@media screen and (max-width: 740px) {

    .masonry-brick.masonry-card { width:100%; }
/*    .client-card:hover {width:95%;} */
}

.isotope-card{
    width:33%;
/*    margin: 10px;*/
    float:left;
    position:relative;
    overflow:hidden;
}

table th {
    height: 50px;
    background-color: #3e3f3a;
    color: #FFFFFF;
}

.table-sample-button {
    cursor: pointer;
}

.pointer {
    cursor: pointer;
}