.card-wrapper{
/*    border: solid;*/
    padding: 5px 20px;
   
}
.card{
    overflow: hidden;
/*    background-color: #B8BABA;*/
    background: -webkit-linear-gradient(bottom left,#CBD4D6 10%, #526166 90%);
    border: 1px solid #999;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;  
/*    box-shadow: 5px 5px 5px #2C3133;*/
    margin: 10px 10px;
}

.card-red{
    border: solid;
    border-color: red;
}

.card-green{
    border: solid;
    border-color: green;
}

.card-title{
    font-family: monospace ;
    color: #4F5B5E;
}

.card-data{
    font-family: monospace ;
    color: #859094;
}

/*
.card-green{
    border: solid;
    border-color: green;
}
*/
/*
.card{
    background-color: #B8BABA;
    border: 1px solid #999;
    margin: 0px 10px 15px;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;  Safari 
    display: inline;
}
*/

/*
.card{
    background-color: #B8BABA;
    margin: 10px 0px 10px;
    
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s;  
}
*/

.card-body{
    padding: 0px 0px 0px 20px;
    float:left;
}

.card-button{
    padding: 20px 20px 0px 0px;
    float:right;
}

.card-name{
    color: azure;
}

.card-details{
/*    padding: 0px 0px 0px 20px;*/
    color: currentColor;    
}

.card-image-sm{
    padding-top: 20px;
}

.selling-button{
    padding: 10px 50px 20px 10px;
}


.thumbnail{
    background-color: #D1DADE;            
}

.dropdown{
    cursor: pointer;
}

.card:hover {
	cursor: pointer;
	-webkit-transform: scale(1.03, 1.03);
    -ms-transform: scale(1.03, 1.03);
    transform: scale(1.03, 1.03);
    transition-duration: 0.3s;
    -webkit-transition-duration: 0.3s; /* Safari */
    box-shadow: 5px 5px 5px #2C3133;
/*    -webkit-box-shadow: inset 0 0 0 5px #DFE6E8;;*/
/*    border: -5px solid #DFE6E8;*/
    z-index: 1;
}

.product-detail{
    position: fixed;
    background-color: #B8BABA;
    border: 1px solid #0581B0;
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    height: 400px;
    width: 400px;
    z-index: 20;
}

.card-header{
    position: absolute;
    right: 0px;
    /*left: 230px;*/
/*    width:30px;*/
/*    height:40px;*/
    background-color: #DFE6E8;
/*    align:center;*/
    border-radius: 0px 5px 0px 5px;
    z-index: 1;
}

.pencil{
    padding: 10px;
}

.addButton{
    position: fixed;
    top: 20px;
    right: 0px;
}

h2, h5 {
    color: #FFFFFF;
}

p {
    color: #062936;
}

.modalBackground {
  /*background:white;
  border:1px solid black;
  padding:10px;*/
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(51,51,51,0.7);
    z-index: 10;
}


.animate-if.ng-enter, .animate-if.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  opacity:1;
}

.samplebook {
    position:fixed;
    width: 400px;    
    height: 350px;
    right: 0;
    left: 0;
    top:50px;
    margin-right: auto;
    margin-left: auto;
    z-index: 20;
}

.containermodalcard{
   position: fixed; 
   right: 0;
   left: 0;
   top:50px;
   margin-right: auto;
   margin-left: auto;
    z-index: 20;
}

.modalcard-sm {
    position: absolute;
    background-color: #D0DCD0;
    padding: 10px;
    border: 4px solid #fff;
    border-radius: 10px 10px 10px 10px;
    /*width: 800px;    
    height: 350px;*/
    right: 0;
    left: 0;
    top:50px;
    margin-right: auto;
    margin-left: auto;
    z-index: 20;
}

.modalcard-lg {
    position: fixed;
    background-color: #D0DCD0;
    padding: 10px;
    border: 4px solid #fff;
    border-radius: 10px 10px 10px 10px;
    /*width: 800px;    
    height: 350px;*/
    right: 0;
    left: 0;
    top:50px;
    margin-right: auto;
    margin-left: auto;
    z-index: 20;
}

.alertpos{
    position:fixed;
    right: 0;
    bottom:0px;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    z-index: 20;
}


