	body {
		min-height: 420px;
	}
    
    #fullscreen {
        position: absolute;
        top: 10px;
        left: 50%;
        margin-left: -248px;
        color: rgb(255, 255, 255);
        text-shadow: 0px 0px 5px rgba(51, 51, 51, 0.8);
        font-size: 1.7em;
        font-weight: bold;
    }
    
	.background {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 100%;
		height: 100%;
		background-image: url(https://s3.amazonaws.com/ooomf-com-files/ikZyw45kT4m16vHkHe7u_9647713235_29ce0305d2_o.jpg);
    	background-position: center center;
    	background-repeat: no-repeat;
    	background-size: cover;
	}
	#posts {
        
		position: fixed;
		top: 0px;
		left: 0px;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.7);
		overflow: auto;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		z-index: 100;
		padding: 0px;
	}

	#posts a {
		display: block;
		padding: 20px 30px;
		color: rgb(51, 51, 51);
		text-decoration: none;
	}

	#posts a:hover {
		background-color: rgba(255, 255, 255, 0.8);
	}

	#toggle_posts {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 30px;
		height: 100%;
		background-color: rgb(51, 51, 51);
		color: rgb(255, 255, 255);
		text-align: center;
		cursor: pointer;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;
		z-index: 100;
	}
	#toggle_posts h1 {
		position: absolute;
		top: 50%;
		left: -63px;
		font-size: 1.2em;
		margin: 0px;
		line-height: 1.1px;
		letter-spacing: 20px;
		font-weight: 700;
		margin-top: -68px;
		-webkit-transform: rotate(-90deg);
		-moz-transform: rotate(-90deg);
		-ms-transform: rotate(-90deg);
		-o-transform: rotate(-90deg);
		transform: rotate(-90deg);
	}
	#toggle_posts h1 .glyphicon.arrow-left {
		position: absolute;
		top: 0;
		left: -40px;
		margin-top: -8px;
	}
	#toggle_posts h1 .glyphicon.arrow-right {
		position: absolute;
		top: 0;
		left: 156px;
		margin-top: -8px;
	}

	#post article {
		position: absolute;
		top: 0px;
		background-color: rgba(255, 255, 255, 0.8); 
		border: 1px solid rgba(51, 51, 51, 0.3);
		padding: 0px;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;

		-webkit-transform: scale(0,0);
		-moz-transform: scale(0,0);
		-o-transform: scale(0,0);
		-ms-transform: scale(0,0);
		transform: scale(0,0);
	}
	#post article.active {
        margin-top: 60px;
		-webkit-transform: scale(1, 1);
		-moz-transform: scale(1, 1);
		-o-transform: scale(1, 1);
		-ms-transform: scale(1, 1);
		transform: scale(1, 1);
	}

	#post article .title,
	#comments .title {
		font-family: "Oswald", Arial, sans-serif;
		text-transform: uppercase;
		margin: 0;
		padding: 25px 30px;
		display: block;
		border-bottom: 1px solid rgb(160, 160, 160);
	}

	#post article .title .close,
	#comments .title .close  {
		position: absolute;
		top: 0px;
		right: 0px;
		font-size: inherit;
		font-weight: normal;
		padding: 0px 13px 5px;
		opacity: 1;
	}

	#post article .title .close:hover,
	#comments .title .close:hover {
		background-color: rgba(51, 51, 51, 0.1);
	}

	#post article .post {
		padding: 20px 30px;
		margin: 0;
		margin-top: 0;
		height: 250px;
		position: relative;
		overflow: auto;
	}

	#post article .post .post-img {
		width: 100%;
	}

	#post article .post img {
		max-width: 100%; 
	}

	#post article .post p {
		margin: 20px 0px;
	}

	#post .info {
		display: block;
		background-color: rgb(51, 51, 51);
	}

	#post .info a {
		float: left;
		display: inline-block;
		padding: 20px 30px;
		color: rgb(255, 255, 255);
		text-decoration: none;
		border-right: 1px solid rgb(81, 81, 81);
	}

	#post .info a:hover {
		background-color: rgb(81, 81, 81);
	}

	#comments {
		position: fixed;
        top: 60px;
		background-color: rgb(255, 255, 255);
		border: 1px solid rgba(51, 51, 51, 0.3);
		max-height: 75%;
		overflow: auto;
		-webkit-transition: all 0.5s ease-in-out;
		-moz-transition: all 0.5s ease-in-out;
		-o-transition: all 0.5s ease-in-out;
		-ms-transition: all 0.5s ease-in-out;
		transition: all 0.5s ease-in-out;

		-webkit-transform: translate(1000px,0px) scale(0,0);
		-moz-transform: translate(1000px,0px) scale(0,0);
		-o-transform: translate(1000px,0px) scale(0,0);
		-ms-transform: translate(1000px,0px) scale(0,0);
		transform: translate(1000px,0px) scale(0,0);
	}

	#comments.active {
		-webkit-transform: translate(-0px,0px) scale(1,1);
		-moz-transform: translate(-0px,0px) scale(1,1);
		-o-transform: translate(-0px,0px) scale(1,1);
		-ms-transform: translate(-0px,0px) scale(1,1);
		transform: translate(-0px,0px) scale(1,1);
	}

	#posts.col-xs-11 { left: -91.66666667%; }	
	#posts.col-xs-11.open ~ #toggle_posts { left: 91.66666667%; }

	@media (min-width: 768px) {
		#posts.col-sm-4 { left: -33.33333333%; }
		#posts.col-sm-4.open ~ #toggle_posts { left: 33.33333333%; }
		#comments { right: 8.33333333%; }
	}

	@media (min-width: 992px) {
		#posts.col-md-3 { left: -25%; }
		#posts.col-md-3.open ~ #toggle_posts { left: 25%; }
		#comments { background-color: rgba(255, 255, 255, 0.8); right: 0px; }
	}

#posts.open { left: 0px; }