<div>
    <div class="row">
        <div class="col-xs-12 col-md-4">
            <div class="thumbnail">
                <img alt="No hay una imagen para este producto" class="img-rounded img-responsive" 
                     ng-src=
                     "{{serverData.urlImages}}/{{$parent.product.category}}/{{$parent.product.name}}-M.jpg"/>  
            </div>   
        </div>
        <div class="col-xs-12 col-md-8">
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <div class="col-xs-12 col-sm-6">                    
                        <label for="quantity">Nombre :</label>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <input type="text"
                               id="name"
                               ng-model="$parent.product.name"
                               class="form-control" name="name" 
                               placeholder="Nombre..." required uppercase>
                        <div class="text-danger">                   
                            <span 
                                 ng-show="(!productForm.name.$pristine || 
                                          productForm.$submitted) && productForm.name.$error.required">
                               Introduzca el nombre del producto por favor. 
                            </span>
                        </div>
                    </div>     
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-6">                    
                        <label for="provider">Marca :</label>
                    </div>                    
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" 
                               ng-init="$parent.product.provider =  
                               $parent.product.provider || defaultValues.provider"
                               ng-model="$parent.product.provider"
                               class="form-control" name="provider" 
                               placeholder="Proveedor..." required>
                        <div class="text-danger">                   
                            <span 
                                 ng-show="(!productForm.provider.$pristine || 
                                          productForm.$submitted) && productForm.provider.$error.required">
                               Introduzca la marca del producto por favor. 
                            </span>
                        </div>
                    </div>                    
                </div>                                  
                <div class="form-group">
                    <div class="col-xs-12 col-sm-6">                    
                        <label for="quantityPerPackage">Cantidad por Paquete:</label>
                    </div>                    
                    <div class="col-xs-12 col-sm-6">
                        <input type="number" 
                               ng-model="$parent.product.properties.quantityPerPackage"
                               ng-init="$parent.product.properties.quantityPerPackage=                                
                               $parent.product.properties.quantityPerPackage || 
                               defaultValues.properties.quantityPerPackage"
                               class="form-control" name="quantityPerPackage" 
                               placeholder="Cantidad por paquete..." required>
                        <div class="text-danger">                   
                            <span 
                                 ng-show="(!productForm.quantityPerPackage.$pristine || 
                                          productForm.$submitted) && productForm.quantityPerPackage.$error.required">
                               Introduzca la cantidad por paquete del producto por favor. 
                            </span>
                        </div>
                    </div>                       
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-6">                    
                        <label for="quantity">Cantidad en Deposito :</label>
                    </div>                    
                    <div class="col-xs-12 col-sm-6">
                        <input type="text" 
                               ng-model="$parent.product.quantity"
                               ng-init="$parent.product.quantity = 
                               $parent.product.quantity || defaultValues.quantity"
                               class="form-control" name="quantity" 
                               placeholder="Cantidad deposito..." required>
                        <div class="text-danger">                   
                            <span 
                                 ng-show="(!productForm.quantity.$pristine || 
                                          productForm.$submitted) && productForm.quantity.$error.required">
                               Introduzca la cantidad en deposito del producto por favor. 
                            </span>
                        </div>
                    </div>                    
                </div>             
            </div>
            <div class="col-xs-12 col-sm-6">
                <div class="form-group">
                    <div class="col-xs-12 col-sm-6">                    
                        <label for="type">Tipo de Precio de Compra :</label>
                    </div>                    
                    <div  class="col-xs-12 col-sm-6">
                        <select ng-init="$parent.product.buyingPrice.type=
                                $parent.product.buyingPrice.type || 'Paquete'"
                                class="nya-selectpicker btn btn-primary"
                                ng-model="$parent.product.buyingPrice.type" 
                                ng-options="i for i in ['Paquete', 'Unidad']"
                                name="type">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-6">                    
                        <label for="quantity">Precio de Compra :</label>
                    </div>                    
                    <div class="col-xs-12 col-sm-6">
                        <div class="input-group">
                            <input type="number"
                                   ng-model="$parent.product.buyingPrice.value"
                                   class="form-control" name="buyingPrice" 
                                   placeholder="Precio de Compra..." required>
                            <span class="input-group-addon">Bs.</span>
                        </div>
                        <div class="text-danger">                   
                            <span 
                                 ng-show="(!productForm.buyingPrice.$pristine || 
                                          productForm.$submitted) && productForm.buyingPrice.$error.required">
                               Introduzca el precio de compra del producto por favor. 
                            </span>
                        </div>
                    </div>
                </div> 
                <div class="form-group">
                    <div class="col-xs-12 col-sm-6">                    
                        <label for="quantity">Precio de Venta /Paq. :</label>
                    </div>                    
                    <div class="col-xs-12 col-sm-6">
                        <div class="input-group">
                            <input type="number" 
                                   ng-init="$parent.product.prices[1].type = 'Paquete'"
                                   ng-model="$parent.product.prices[1].value"
                                   class="form-control" name="price" 
                                   placeholder="Precio..." required>
                            <span class="input-group-addon">Bs.</span>
                        </div>
                        <div class="text-danger">                   
                            <span 
                                 ng-show="(!productForm.price.$pristine || 
                                          productForm.$submitted) && productForm.price.$error.required">
                               Introduzca el precio de venta por paquete del producto por favor. 
                            </span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-6">                    
                        <label for="specialPrice">Precio de Venta /Unit. :</label>
                    </div>                    
                    <div class="col-xs-12 col-sm-6">
                        <div class="input-group">
                            <input type="number" 
                                   ng-init="$parent.product.prices[0].type = 'Unidad'"
                                   ng-model="$parent.product.prices[0].value"
                                   class="form-control" name="specialPrice" 
                                   placeholder="Precio especial..." required>
                            <span class="input-group-addon">Bs.</span>
                        </div>
                        <div class="text-danger">                   
                            <span 
                                 ng-show="(!productForm.specialPrice.$pristine || 
                                          productForm.$submitted) && productForm.specialPrice.$error.required">
                               Introduzca el precio de venta por unidad del producto por favor. 
                            </span>
                        </div>
                    </div>
                </div>                                                            
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <div class="col-xs-12 col-sm-3">                    
                    <label for="storeLocation">Ubicacion Tienda :</label>
                </div>                    
                <div class="col-xs-12 col-sm-9">
                    <input type="text" 
                           productlocation
                           ng-init="$parent.product.locations[0].type =                                   
                                    $parent.product.locations[0].type ||
                                    defaultValues.locations[0].type;
                                    $parent.product.locations[0].value =                                     
                                    $parent.product.locations[0].value ||
                                    defaultValues.locations[0].value"
                           ng-model="$parent.product.locations[0].value"
                           class="form-control" name="storeLocation" 
                           placeholder="Ubicacion en tienda..." required>
                    <div class="text-danger">                   
                        <span 
                             ng-show="(!productForm.storeLocation.$pristine || 
                                      productForm.$submitted) && productForm.storeLocation.$error.required">
                           Introduzca la ubicacion en tienda del producto por favor. 
                        </span>
                    </div>
                </div>                    
            </div>
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <div class="col-xs-12 col-sm-3">                    
                    <label for="warehouseLocation">Ubicacion Deposito :</label>
                </div>                    
                <div class="col-xs-12 col-sm-9">
                    <input type="text" 
                           productlocation
                           ng-init="$parent.product.locations[1].type =                                      
                                    $parent.product.locations[1].type ||
                                    defaultValues.locations[1].type;
                                    $parent.product.locations[1].value =                                      
                                    $parent.product.locations[1].value ||
                                    defaultValues.locations[1].value"
                           ng-model="$parent.product.locations[1].value"
                           class="form-control" name="warehouseLocation" 
                           placeholder="Ubicacion en deposito..." required>
                    <div class="text-danger">                   
                        <span 
                             ng-show="(!productForm.warehouseLocation.$pristine || 
                                      productForm.$submitted) && productForm.warehouseLocation.$error.required">
                           Introduzca la ubicacion en deposito del producto por favor. 
                        </span>
                    </div>
                </div>                    
            </div> 
        </div>
        <div class="col-xs-12">
            <div class="form-group">
                <div class="col-xs-12 col-sm-3">                    
                    <label for="tags">Buscar por :</label>
                </div>                    
                <div class="col-xs-12 col-sm-9">
                    <input tagsproduct type="text" 
                           ng-model="$parent.product.tags"
                           class="form-control" name="tags" 
                           placeholder="Etiquetas...">
                </div>                       
            </div>
        </div>
    </div>
</div>