<div class="col-xs-12">
    <div class="col-xs-8" align="left">
        <h3><strong>Edicion {{product.name}}</strong></h3>
    </div>   
    <div class="col-xs-4" align="center">
        <div class="form-group">
            <div class="col-xs-12 col-sm-6">               
                <label for="category">Categoria :</label>
            </div>                    
            <div class="col-xs-12 col-sm-6">    
                {{product.category}}                
            </div>
        </div>
    </div> 
    <hr noshade=“noshade” width="90%"/>
    <hr />
    <br/>
    <div class="col-xs-12">
        <form name="productDetailsForm" ng-submit="productDetailsForm.$valid && saveProduct()" 
                  class="form-horizontal"  role="form" novalidate>
            <div class="reveal-animation" ng-include="productView"></div>
            <br/>
            <br/>
            <div class="row">
                <div class="col-xs-12 col-sm-4" align="center">                                       
                    <button type="button" class="btn btn-warning" 
                               ng-click="deleteProduct()">
                       Eliminar <span class="glyphicon glyphicon-trash"></span>
                    </button> 
                    <br/>
                    <br/>
                </div>
                <div class="col-xs-6 col-sm-4" align="center">
                    <button accesskey="c" type="button" class="btn btn-danger" 
                                ng-click="cancelEditing()">
                        Cancelar <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <br/>
                    <br/>
                </div>
                <div class="col-xs-6 col-sm-4" align="center">                                       
                    <button ng-href="#/productSearch" type="submit" class="btn btn-success"  >
                        Guardar <span class="glyphicon glyphicon-floppy-disk"></span>
                    </button>                   
                    <br/>
                    <br/>
                </div>
            </div>
        </form>
    </div>  
    <br/>
    <br/>
</div>