<div class="card-login card-login-container">
    <!-- <h1 class="text-muted">Login</h1> -->
    <!-- <img id="profile-img" class="profile-img-card-login" src="//ssl.gstatic.com/accounts/ui/avatar_2x.png" /> -->
    <img id="profile-img" class="profile-img-card-login" src="../images/tunariLogo.png" />
    <p id="profile-name" class="profile-name-card-login"></p>
    <form ng-submit="submit()" name="register" class="form-signin" novalidate>
        <span id="reauth-email" class="reauth-email"></span>
        <input name="name" ng-model="user.name" type="text" 
                class="form-control" placeholder="Usuario" required autofocus>
        <p class="help-block" ng-show="register.name.$dirty && register.name.$invalid">
            Porvafor introduzca un correo apropiado
        </p>
        <input name="password" ng-model="user.password" type="password" id="inputPassword" 
                class="form-control" placeholder="Contraseña" required>        
        <button ng-disabled="register.$invalid" class="btn btn-lg btn-success btn-block btn-signin" 
                type="submit">Iniciar Sesión</button>
                <br />
<!--         <a class="text-muted pull-right" ui-sref="register">Crear una cuenta nueva</a> -->
    </form>
</div>
