<div class="col-xs-12">
{{newProduct}}
    <div class="col-xs-12 col-sm-4">
        <div class="thumbnail">
            <img alt="Nuevo Producto" class="img-rounded img-responsive" 
                 ng-src=
                 "{{serverData.urlImages}}/{{newProduct.category}}/{{newProduct.properties.type}}/{{newProduct.name}}.png"/>    
        </div>   
    </div>
    <div class="col-xs-12 col-sm-8">
        <form class="form-horizontal"name="newProductForm" ng-submit="newProductForm.$valid && createProduct()" 
              role="form" novalidate>
            <div class="row form-group">  
                <div class="col-xs-6">
                    <h4><strong>Nuevo Producto: {{newProduct.name}}</strong></h4>
                </div>
            </div>
            <div class="col-xs-12">
                <div class="form-group">
                    <div class="col-xs-6">                    
                        <label class="control-label" for="quantity">Categoria :</label>
                    </div>                    
                    <div class="col-xs-6" ng-init="newProduct.category = serverData.products.categories[0]">
                        <select class="nya-selectpicker btn btn-info"
                                ng-model="newProduct.category" ng-options="g for g in serverData.products.categories">
                        </select>
                    </div>
                </div>                   
                <div class="form-group">
                    <div class="col-xs-6">                    
                        <label class="control-label" for="quantity">Nombre :</label>
                    </div>

                    <div class="col-xs-6">
                        <input type="text"
                               id="name"
                               ng-model="newProduct.name"
                               class="form-control" name="name" 
                               placeholder="Nombre..." required uppercase>
                        <div class="text-danger">                   
                            <span 
                                 ng-show="(!newProductForm.name.$pristine || 
                                          newProductForm.$submitted) && newProductForm.name.$error.required">
                               Introduzca el nombre del producto por favor. 
                            </span>
                        </div>
                    </div>     
                </div>
                <div class="form-group">
                    <div class="col-xs-6">                    
                        <label class="control-label" for="quantity">Cantidad deposito :</label>
                    </div>                    
                    <div class="col-xs-6">
                        <input type="text" 
                               ng-model="newProduct.quantity"
                               ng-init="newProduct.quantity = 200"
                               class="form-control" name="quantity" 
                               placeholder="Cantidad deposito..." required>
                        <div class="text-danger">                   
                            <span 
                                 ng-show="(!newProductForm.quantity.$pristine || 
                                          newProductForm.$submitted) && newProductForm.quantity.$error.required">
                               Introduzca la cantidad en deposito del producto por favor. 
                            </span>
                        </div>
                    </div>                    
                </div>
                <div class="form-group">
                    <div class="col-xs-6">                    
                        <label class="control-label" for="storeLocation">Ubicacion Tienda :</label>
                    </div>                    
                    <div class="col-xs-6">
                        <input type="text" 
                               productlocation
                               ng-init="newProduct.locations[0].type = 'Tienda';
                                        newProduct.locations[0].value = 'Deposito A, Estante 2, Peldaño 4'"
                               ng-model="newProduct.locations[0].value"
                               class="form-control" name="storeLocation" 
                               placeholder="Ubicacion en tienda..." required>
                        <div class="text-danger">                   
                            <span 
                                 ng-show="(!newProductForm.storeLocation.$pristine || 
                                          newProductForm.$submitted) && newProductForm.storeLocation.$error.required">
                               Introduzca la ubicacion en tienda del producto por favor. 
                            </span>
                        </div>
                    </div>                    
                </div>
                <div class="form-group">
                    <div class="col-xs-6">                    
                        <label class="control-label" for="warehouseLocation">Ubicacion Deposito :</label>
                    </div>                    
                    <div class="col-xs-6">
                        <input type="text" 
                               productlocation
                               ng-init="newProduct.locations[1].type = 'Deposito';
                                        newProduct.locations[1].value = 'Deposito B, Estante 2, Peldaño 4'"
                               ng-model="newProduct.locations[1].value"
                               class="form-control" name="warehouseLocation" 
                               placeholder="Ubicacion en deposito..." required>
                        <div class="text-danger">                   
                            <span 
                                 ng-show="(!newProductForm.warehouseLocation.$pristine || 
                                          newProductForm.$submitted) && newProductForm.warehouseLocation.$error.required">
                               Introduzca la ubicacion en deposito del producto por favor. 
                            </span>
                        </div>
                    </div>                    
                </div>
                <div class="form-group">
                    <div class="col-xs-6">                    
                        <label class="control-label" for="quantity">Proveedor :</label>
                    </div>                    
                    <div class="col-xs-6">
                        <input type="text" 
                               ng-init="newProduct.provider = 'Tunari'"
                               ng-model="newProduct.provider"
                               class="form-control" name="provider" 
                               placeholder="Proveedor..." required>
                        <div class="text-danger">                   
                            <span 
                                 ng-show="(!newProductForm.provider.$pristine || 
                                          newProductForm.$submitted) && newProductForm.provider.$error.required">
                               Introduzca el provedor del producto por favor. 
                            </span>
                        </div>
                    </div>                    
                </div>
                <div class="form-group">
                    <div class="col-xs-6">                    
                        <label class="control-label" for="tags">Buscar por :</label>
                    </div>                    
                    <div class="col-xs-6">
                        <input tagsproduct type="text" 
                               ng-model="newProduct.tags"
                               class="form-control" name="tags" 
                               placeholder="Etiquetas..." required>
                        <div class="text-danger">                   
                            <span 
                                 ng-show="(!newProductForm.tags.$pristine || 
                                          newProductForm.$submitted) && newProductForm.tags.$error.required">
                               Introduzca las etiquetas del producto por favor. 
                            </span>
                        </div>
                    </div>                       
                </div>
                <div class="form-group">
                    <div class="col-xs-6">                    
                        <label class="control-label" for="quantityPerPackage">Cantidad por Paquete :</label>
                    </div>                    
                    <div class="col-xs-6">
                        <input type="number" 
                               ng-model="newProduct.properties.quantityPerPackage"
                               class="form-control" name="quantityPerPackage" 
                               placeholder="Cantidad por paquete..." required>
                        <div class="text-danger">                   
                            <span 
                                 ng-show="(!newProductForm.quantityPerPackage.$pristine || 
                                          newProductForm.$submitted) && newProductForm.quantityPerPackage.$error.required">
                               Introduzca la cantidad por paquete del producto por favor. 
                            </span>
                        </div>
                    </div>                       
                </div>
                <div class="form-group">
                    <div class="col-xs-6">                    
                        <label class="control-label" for="quantity">Precio de Compra :</label>
                    </div>                    
                    <div class="col-xs-4">
                        <input type="number"
                               ng-model="newProduct.buyingPrice"
                               class="form-control" name="buyingPrice" 
                               placeholder="Precio de ompra..." required>
                        <div class="text-danger">                   
                            <span 
                                 ng-show="(!newProductForm.buyingPrice.$pristine || 
                                          newProductForm.$submitted) && newProductForm.buyingPrice.$error.required">
                               Introduzca el precio de compra del producto por favor. 
                            </span>
                        </div>
                    </div>    
                    <div class="col-xs-2">
                        <p>Bs.</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6">                    
                        <label class="control-label" for="quantity">Precio :</label>
                    </div>                    
                    <div class="col-xs-4">
                        <input type="number" 
                               ng-init="newProduct.prices[0].type = 'Regular'"
                               ng-model="newProduct.prices[0].value"
                               class="form-control" name="price" 
                               placeholder="Precio..." required>
                        <div class="text-danger">                   
                            <span 
                                 ng-show="(!newProductForm.price.$pristine || 
                                          newProductForm.$submitted) && newProductForm.price.$error.required">
                               Introduzca el precio del producto por favor. 
                            </span>
                        </div>
                    </div>    
                    <div class="col-xs-2">
                        <p>Bs.</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6">                    
                        <label class="control-label" for="quantity">Precio Particular :</label>
                    </div>                    
                    <div class="col-xs-4">
                        <input type="number" 
                               ng-init="newProduct.prices[1].type = 'Especial'"
                               ng-model="newProduct.prices[1].value"
                               class="form-control" name="specialPrice" 
                               placeholder="Precio especial..." required>
                        <div class="text-danger">                   
                            <span 
                                 ng-show="(!newProductForm.specialPrice.$pristine || 
                                          newProductForm.$submitted) && newProductForm.specialPrice.$error.required">
                               Introduzca el precio especial del producto por favor. 
                            </span>
                        </div>
                    </div>  
                    <div class="col-xs-2">
                        <p>Bs.</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6">                    
                        <label class="control-label" for="quantity">Tipo :</label>
                    </div>                    
                    <div class="col-xs-6" ng-init="newProduct.properties.type = serverData.invitations.types[0]">
                        <select class="nya-selectpicker btn btn-primary"
                                ng-model="newProduct.properties.type" ng-options="t for t in serverData.invitations.types">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6">                    
                        <label class="control-label" for="quantity">Tamano :</label>
                    </div>                    
                    <div class="col-xs-6" ng-init="newProduct.properties.size = serverData.invitations.sizes[0]">
                        <select class="nya-selectpicker btn btn-warning"
                                ng-model="newProduct.properties.size" ng-options="s for s in serverData.invitations.sizes">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-6">                    
                        <label class="control-label" for="quantity">Genero :</label>
                    </div>                    
                    <div class="col-xs-6" ng-init="newProduct.properties.genre = serverData.invitations.genres[0]">
                        <select class="nya-selectpicker btn btn-info"
                                ng-model="newProduct.properties.genre" ng-options="g for g in serverData.invitations.genres">
                        </select>
                    </div>
                </div>
            </div>
        
            <div class="row">
                <div class="col-xs-offset-6  col-xs-3" align="center">
                    <button type="button" ng-click="cancelNewProduct()" class="btn btn-danger" >
    <!--                        <a ng-href="#/productSearch">Cancelar</a>-->
                        Cancelar
                    </button>
                </div>
                <div class="col-xs-3" align="center">                                       
                   <button type="submit" class="btn btn-success"  >
                       Guardar
                   </button>                   

                </div>
            </div>
        </form>
    </div>
</div>

