<div class="row">
    <form class="col-xs-12" name="searchingForm" role="form" novalidate>
        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">Buscar</span>
            <input type="text" class="form-control" ng-model="tags">
            <span class="input-group-btn">
                <button ng-click="search(1)" type="submit" class="btn btn-info" type="button">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
          </div>
        </div>
    </form>
</div>

<div class="row">    
    <div class="row">
        <div class="col-xs-12" style="text-align:center">
            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" ng-click="windowTop()"
                max-size=6>
            </dir-pagination-controls>        
        </div>
    </div>
    <div>
        <h4 class="text-primary">{{products.meta.count}} productos encontrados!</h4>
    </div>
    <div class="row">
        <div dir-paginate-start="product in products | itemsPerPage: pagination.itemsPerPage"
         total-items="totalProducts" class="animate-if col-md-4 col-sm-6 col-xs-12" 
         current-page="pagination.current">
            <div class="card img-rounded">
                <div align="left" class="btn btn-sm card-header">
                    <span ng-click="editProduct(product._id)" class="glyphicon glyphicon-pencil pencil"></span>
                </div>
                <div align="center">
                    <!--Double img tag to not show samplebook in small screens-->
                    <img    alt="{{product.name}}" class="img-rounded img-responsive hidden-xs"  
                            ng-click="showSampleBook(product)"
                            ng-src="{{getProductImageUrl(product)}}"/> 
                    <img    alt="{{product.name}}" class="img-rounded img-responsive visible-xs"
                            ng-src="{{getProductImageUrl(product)}}"/>  
                </div>
                <div class="card-body col-xs-8">
                    <hr/>
                    <div>
                        <h3 class="card-title">{{product.name}}</h3>
                    </div>
                    <div>
                        <p class="card-data">
                            Deposito: {{product.quantity}} Unidades
                            <br/>
                            Precio: {{product.prices[0].value}} Bs.</p>
                    </div>
                </div>
                <div class="card-button col-xs-2">
                    <div ng-click="createSellingItem(product)" class="btn btn-success">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                    </div>
                </div>
                <div class="card-button col-xs-2">
                    <div  class="btn btn-primary"  ng-click="addProduct(product)">
                        <span class="glyphicon glyphicon-plus"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="visible-md visible-lg clearfix" ng-if="($index+1)%3==0"></div>
        <div class="visible-sm clearfix" ng-if="($index+1)%2==0" ></div>
        <div dir-paginate-end=""></div>
    </div>
    
    <div class="row">
        <div class="col-xs-12" style="text-align:center">
            <dir-pagination-controls on-page-change="pageChanged(newPageNumber)" ng-click="windowTop()"
                max-size=6>
            </dir-pagination-controls>        
        </div>
    </div>
    
    <shoppingcart selling-items='shoppingCartSellings'>
    </shoppingcart>    
</div>
