<md-dialog> 
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>VENTA {{selling.product.name}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <ng-md-icon class="icon" style="fill: #fff" icon="close" size="20" aria-label="call"></ng-md-icon> 
            </md-button>
        </div>
    </md-toolbar>
    <form ng-submit="sellingForm.$valid && saveSelling()" name="sellingForm">
        <md-dialog-content>
                <md-list-item class="noright">
                    <p>{{ selling.product.name }}</p>      
                    <img ng-src="{{imageUrl}}" class="md-avatar md-secondary" />
                </md-list-item>
                <md-tabs md-swipe-content md-stretch-tabs="always" md-dynamic-height md-border-bottom>
                    <md-tab label="DATOS">                       
                        <md-content class="md-padding">
                            <section layout="row">
                                <md-input-container class="md-block" flex>
                                    <label>Cantidad. (Unit.)</label>
                                    <input ng-model="selling.quantity" type="number" name="quantity" ng-change="updateTotal()" 
                                    ng-max="{{selling.product.quantity}}" required>
                                    <div ng-messages="sellingForm.quantity.$error">
                                        <div ng-message="required">La cantidad es requerida.</div>
                                        <div ng-message="max">Solo hay <b>{{selling.product.quantity}}</b> unidades en el deposito.
                                        </div>
                                    </div>
                                </md-input-container>
                                <md-input-container class="md-block" flex>
                                    <label>Precio.</label>
                                    <md-select ng-model="selling.productPrice" ng-change="updateTotal()" >
                                        <md-option ng-value="price" ng-repeat="price in selling.product.prices">
                                            {{price.value}} Bs. - {{price.type}}
                                        </md-option>
                                    </md-select>
                                </md-input-container>
                            </section>
                            <md-input-container class="md-block">
                                <label>Total. (Bs.)</label>
                                <input ng-model="selling.total">
                            </md-input-container> 
                            <md-input-container class="md-block">
                                <label>Cantidad por paquete.</label>
                                <input value="{{selling.product.properties.quantityPerPackage}} Unidades por Paquete.">
                            </md-input-container>
                            <md-input-container class="md-block">
                                <label>Cantidad en deposito.</label>
                                <input value="{{selling.product.quantity}} Unidades.">
                            </md-input-container>
                        </md-content>
                    </md-tab>
                    <md-tab label="IMAGEN">                       
                        <md-content class="md-padding" flex>
                            <img alt="{{selling.product.name}}" class="md-card-image" 
                             ng-src="{{imageUrl}}"/> 
                        </md-content>
                    </md-tab>        
                </md-tabs>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button class="md-warn md-raised" ng-click="cancel()">
                Cancelar
            </md-button>
            <md-button class="md-primary md-raised" type="submit">
                Guardar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>