<div class="col-xs-12 col-md-6">
    <p class="input-group">
      <span class="input-group-addon">DESDE</span>	
      <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd HH:mm:ss" 
             ng-model="from" 
             show-weeks="false"
             is-open="status.from.opened" 
             date-disabled="disabled(date, mode)"
             max-date="to"
             current-text="Hoy"
              clear-text="Limpiar"
              close-text="Cerrar"/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="openFrom($event)">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </p>
</div>
<div class="col-xs-12 col-md-6">
    <p class="input-group">
      <span class="input-group-addon">HASTA</span>	
      <input  type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd HH:mm:ss" 
              ng-model="to" 
              show-weeks="false"
              is-open="status.to.opened"
              min-date="from"
              current-text="Hoy"
              clear-text="Limpiar"
              close-text="Cerrar"/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="openTo($event)">
          <i class="glyphicon glyphicon-calendar"></i>
        </button>
      </span>
    </p>
</div>