<md-content flex layout="row" layout-align="center" class="background">
	<md-card flex="80" flex-gt-sm="50"> 
		<md-list ng-cloack>
			<md-subheader>Configuraciones Avanzadas</md-subheader>
			<md-list-item>
				<md-input-container class="md-block" flex>
		            <label>Direccion del servidor de imagenes</label>
	            	<input ng-model="imgServer">
		        </md-input-container>
			</md-list-item>
		</md-list>
		<md-card-actions layout="row" layout-align="end end">
          <md-button class="md-warn">Cancelar</md-button>
          <md-button class="md-primary">Guardar</md-button>
        </md-card-actions>
	</md-card>
</md-content>	